.analytics-detail-post {
  margin: 5vh 0;
  margin-top: .4vh;
  .analytics-detail-title {
    font-size: 2.4em;
    color:#303738;
    margin: 2vh 0;
    text-align: center;
    margin-top: 0;
    &:hover {
      color:#63808b;
      transition: .4s;
      cursor: pointer;
    }
  }
  .analytics-detail-image {
    img {
      width: 100%;
      height: 65vh;
      border-radius: 10px;
    }
  }

  .analytics-detail-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2vh 0;
    a {
      text-decoration: none;
      color:#303738;
      font-size: 1.4em;
      &:hover {
        color:#63808b;
      }
      &:focus {
        color:#8b5d65;
      }
    }
    .analytics-detail-infoBox {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      p {
        font-size: 1em;
        margin: 0 1vw;
        color:#7A7A7A;
      }
      .detail-viewCount {
        font-size: 1em;
        margin: 0 1vw;
        color:#7A7A7A;
      }
    }
  }
  .analytics-detail-content-box {
    font-size: 1.6em;
    margin: 2vh 0;
    display: flex;
    flex-flow: row wrap;

      &:hover {
        text-shadow: 1px 1px 1px #C9C9C9;
        cursor: pointer;
      }
  }
}
.return_back_button {
  display: flex;
  align-items: center;
  a {
    border: solid 2px purple;
    padding: 6px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color:black;
    transition: .2s linear;
    &:hover {
      background-color: purple;
      color:white;
      transition: .2s linear;
      transform: scale(1.1);
      i {
        color:white;
        border: solid 2px purple;
      }
    }
    i {
      color:slategray;
      border-radius: 100%;
      border: solid 2px slategray;
      padding: 4px 8px;
    }
  }
}

.next-prev-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    border: solid 2px purple;
    padding: 6px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color:black;
    transition: .2s linear;
    &:hover {
      background-color: purple;
      color:white;
      transition: .2s linear;
      transform: scale(1.1);
      i {
        color:white;
        border: solid 2px purple;
      }
    }
    i {
      color:slategray;
      border-radius: 100%;
      border: solid 2px slategray;
      padding: 4px 8px;
    }
  }
}


