{% extends 'base.html' %}
{% block content %}
<div class="container-detail">
    <section class="event-detail">
        <div class="event-detail-detail-top">
                <h1 class="event-detail-title">{{ data_event.title }}</h1>
        </div>
        <p class="event-detail-short-text">{{ data_event.day }}</p>
        <p class="event-detail-short-text">Начало: {{ data_event.start_time}}</p>
        <p class="event-detail-short-text">Конец: {{ data_event.end_time}}</p>
        <img src="" alt="" class="event-detail-publication-image">
        <p class="event-detail-paragraph">{{ data_event.notes }}</p>
        <img src="" alt="" class="event-detail-publication-image">
    </section>
</div>
{% endblock content %}