{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section class="event-detail">
        <div class="event-detail-detail-top">
            <h1 class="event-detail-title">{{ data_event.title }}</h1>
        </div>
        <div class="event-detail-info">
            <p class="event-detail-short-text"><span><i class="fa fa-calendar" aria-hidden="true"></i>{{ data_event.day }}</span></p>
            <p class="event-detail-short-text"><span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ data_event.place }}</span></p>

        <p class="event-detail-short-text"><span><i class="fa fa-clock-o" aria-hidden="true"></i>Начало: {{ data_event.start_time}}</span></p>
        <p class="event-detail-short-text"><span><i class="fa fa-ban" aria-hidden="true"></i>Конец: {{ data_event.end_time}}</span></p>
            <div class="detail-viewCount">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span>222</span>
            </div>
        </div>
        <img src="" alt="" class="event-detail-publication-image">
        <p class="event-detail-paragraph">{{ data_event.notes }}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum ducimus ea esse expedita harum quasi quibusdam! Aliquam, expedita fugit officia quaerat qui ullam voluptatibus.</p>
    </section>
</div>
{% endblock content %}