{% extends 'base.html' %}
{% block content %}
<h2 class="calendar-cat-title">Календарь событий</h2>
<section class="calendar-list">
    {% for event in list_event %}
    <div class="calendar-event-box">
        <img src="{{ event.thubmnail.url }" alt="" class="calendar-event-box-image">
        <div class="calendar-event-box-title">                
            <a href="{% url 'event_detail' slug=event.slug %}">        
                <p class="calendar-event-box-log-type">{{ event.title }}</p>
            </a>
            <p class="calendar-event-box-date">{{ event.day }}</p>
            <p class="calendar-eveng-box-time">{{ event.start_time }} - {{ event.end_time }}</p>
        </div>
        <div class="calendar-event-box-log">
            <p class="calendar-event-box-log-loc">{{ event.place }}</p>
        </div>
        <a href=""> <i class="fa fa-exclamation calendar-event-box-more" aria-hidden="true"></i></a>
    </div>
    {% endfor %}
</section>
{% endblock content %}