{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="calendar-cat-title">Календарь событий</h2>
        <section class="calendar-list">
            <div class="calendar-event-box">
                <img src="../../static/img/calendar-event/rossiya_harkov_park_vecher_lavochka_879_1920x1080.jpg" alt="" class="calendar-event-box-image">
                <p class="calendar-event-box-date">
                    23 октября 2093
                </p>
                <div class="calendar-event-box-log">
                    <p class="calendar-event-box-log-type">Открытие собора</p>
                    <p class="calendar-event-box-log-loc">Харьков</p>
                </div>
                <a href=""> <i class="fa fa-exclamation calendar-event-box-more" aria-hidden="true"></i></a>
            </div>
            <div class="calendar-event-box">
                <img src="../../static/img/calendar-event/rossiya_harkov_park_vecher_lavochka_879_1920x1080.jpg" alt="" class="calendar-event-box-image">
                <p class="calendar-event-box-date">
                    23 октября 2093
                </p>
                <div class="calendar-event-box-log">
                    <p class="calendar-event-box-log-type">Открытие собора</p>
                    <p class="calendar-event-box-log-loc">Харьков</p>
                </div>
                <a href=""> <i class="fa fa-exclamation calendar-event-box-more" aria-hidden="true"></i></a>
            </div>
            <div class="calendar-event-box">
                <img src="../../static/img/calendar-event/rossiya_harkov_park_vecher_lavochka_879_1920x1080.jpg" alt="" class="calendar-event-box-image">
                <p class="calendar-event-box-date">
                    23 октября 2093
                </p>
                <div class="calendar-event-box-log">
                    <p class="calendar-event-box-log-type">Открытие собора</p>
                    <p class="calendar-event-box-log-loc">Харьков</p>
                </div>
                <a href=""> <i class="fa fa-exclamation calendar-event-box-more" aria-hidden="true"></i></a>
            </div>
        </section>
</div>
{% endblock content %}