{% extends 'base.html' %}
{% block content %}
<div class="page_title-box">
    <div class="page_title-top_line">
    </div>
    <div class="page_title-title">
        <h1>
            События
        </h1>
    </div>
    <div class="page_title-bottom_line">
    </div>
</div>
{% if list_event %}
<div class="container">
    <section class="analytics-wrapper" id="analytics-wrapper-anchor">
        {% for event in list_event %}
        <div class="analytics-item">
            <div class="insert">
                <a href="{% url 'event_detail' slug=event.slug %}">
                    <img src="{{ event.image.url }}" alt="" class="item-image">
                    <div class="title">
                        {{ event.title }}
                    </div>
                    <div class="subtitle">
                        {{ event.short_description|safe }}
                    </div>
                    <div class="event-info">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Где? - {{ event.place }}
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                Во сколько начало? - {{ event.start_time }}
                            </li>
                            <li>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Когда? - {{ event.day|date:"d M Y" }}
                            </li>
                        </ul>
                    </div>
                </a>
                <div class="category">
                    {% comment %}
                    <a href="{% url 'article_by_category' category_slug=post.category.slug %}">
                        {{ post.category }}
                    </a>
                    {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% else %}
    <div class="nothing-found">
        Ничего не найдено
    </div>
{% endif %}
<!--    <section class="pages-carousel">-->
<!--        <div class="pages-carousel-button" id="prev">-->

<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Предыдущая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->

<!--        </div>-->
<!--        <div class="pages-carousel-pages">-->
<!--            <span class="pages-carousel-active">1</span>-->
<!--            <span>2</span>-->
<!--            <span>3</span>-->
<!--            <span>4</span>-->
<!--        </div>-->
<!--        <div class="pages-carousel-button " id="next">-->
<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Следующая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->
<!--        </div>-->
<!--    </section>-->
{% endblock content %}