@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0;
  }
  .header-style {

    .header-navigation {
      margin-left: 0;
      .header-navigation-item {
        font-size: 1.6em
      }
    }
  }

  .mobile-bar {
    display: block;
    font-size: 1.2em;

  }

  .header-navigation {
    opacity: 0;
    transition: .2s linear;
    .header-navigation-item {
      .fa-angle-down {
        display: none;
      }
    }
  }

  .header-navigation-submenu {
    display: none;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0;
  }
  .header-style {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .header-navigation {
      margin-top: 1vh;
      .header-navigation-item {
        font-size: 1.2em;
          .fa-angle-down {
            display: none;
          }
      }
    }
  }
  .mobile-bar {
    display: block;
    font-size: 1.4rem;
  }
  .mobile-bar {
    display: block;
    font-size: 1.2em;

  }

  .header-navigation {
    opacity: 0;
    transition: .2s linear;
    .header-navigation-item {
      .fa-angle-down {
        display: none;
      }

    }
  }
  .fa-angle-down {
    display: none;
  }

  .header-navigation-submenu {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
    .header-style {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center;

    }
  .mobile-bar {
    display: block;
    font-size: 1.2em;

  }

  .header-navigation {
    opacity: 0;
    transition: .2s linear;
    .fa-angle-down {
      display: none;
    }
  }

  .header-navigation-submenu {
    display: none;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .container {
      padding: 0;
      .fa-bars {
        font-weight: 700;
        font-size: 1.2em!important;
        position: relative;
        top: 6px;
        left: 10px;
        display: block;
      }
    }

    .header-style {
      .header-logo {
        //display: none;
      }
    }
  .mobile-bar {
    display: block;
  }
  .header-navigation {
    opacity: 0;
    transition: .2s linear;
    .header-navigation-item {
      .fa-angle-down {
        display: none;
      }
    }
  }
  .fa-angle-down {
    display: none;
  }
  .header-navigation-submenu {
    display: none;
  }
}

