{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="page_title-box">
        <div class="page_title-top_line">
        </div>
        <div class="page_title-title">
            <h1>Аналитика</h1>
        </div>
        <div class="page_title-bottom_line">
        </div>
    </div>
    {% if data_art %}
  <div class="container">
      <section class="analytics-wrapper" id="analytics-wrapper-anchor">
          {% for article in data_art %}
          <div class="analytics_post-box wow fadeInLeft">
              <div class="analytics-box-title">
                  <a href="{% url 'article_detail' slug=article.slug %}">
                      <h2>
                          {{ article.title }}
                      </h2>
                  </a>
              </div>
              <div class="analytics-box-content">
                  <div class="analytics-box-image">
                      <img src="{% static 'img/index-banner-bgi.png' %}" alt="">
                  </div>
                  <div class="analytics-box-text">
                      <div class="analytics-box-text-content">
                          <a href="#" class="analytics-box-text-content-link">
                              {{ article.short_description|safe }}
                          </a>
                      </div>
                      <div class="analytics-box-info">
                          <p class="analytics-box-author">{{ article.author }}</p>
                          <p class="analytics-box-time">{{ article.created }}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </section>
  </div>
<!--    <section class="pages-carousel">-->
<!--        <div class="pages-carousel-button" id="prev">-->

<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Предыдущая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->

<!--        </div>-->
<!--        <div class="pages-carousel-pages">-->
<!--            <span class="pages-carousel-active">1</span>-->
<!--            <span>2</span>-->
<!--            <span>3</span>-->
<!--            <span>4</span>-->
<!--        </div>-->
<!--        <div class="pages-carousel-button " id="next">-->
<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Следующая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->
<!--        </div>-->
<!--    </section>-->
    {% else %}
    {{ blank }}
    {% endif %}
{% endblock content %}