{% extends 'base.html' %}
{% block content %}
    <div class="page_title-box">
        <div class="page_title-top_line">
        </div>
        <div class="page_title-title">
            <h1>Аналитика</h1>
        </div>
        <div class="page_title-bottom_line">
        </div>
    </div>
    {% if data_art %}
    <section class="analytics-wrapper" id="analytics-wrapper-anchor">
        {% for article in data_art %}
        <div class="container-index">
            <div class="analytics_post-box">
                <div class="analytics-box-title">
                    <a href="{% url 'article_detail' slug=article.slug %}">
                        <h2>
                            {{ article.title }}
                        </h2>
                    </a>
                </div>
                <div class="analytics-box-content">
                    <div class="analytics-box-image">
                        <img src="static/img/index-banner-bgi.png" alt="">
                    </div>
                    <div class="analytics-box-text">
                        <div class="analytics-box-text-content">
                            <a href="#" class="analytics-box-text-content-link">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem exercitationem nisi quas quia. A blanditiis consectetur culpa ex facilis fuga ipsam, pariatur praesentium voluptates?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at consequuntur cumque deserunt dicta, ex harum, labore magni minima numquam officia perspiciatis reiciendis repudiandae sequi temporibus ullam ut veniam. A culpa et magnam nobis qui tempore! At consequatur dolore doloremque eius hic mollitia nesciunt odit similique sunt voluptate. Excepturi modi natus optio perferendis quia sapiente temporibus. Ad, atque dicta dignissimos dolore doloremque dolorum, enim fuga fugit incidunt ipsa non pariatur quas repellendus reprehenderit similique ullam velit. Accusantium, ad amet consectetur deleniti eius eum excepturi explicabo fugit libero maxime mollitia necessitatibus neque nesciunt numquam officia repellat saepe, sit soluta sunt, voluptatibus.
                            </a>
                        </div>
                        <div class="analytics-box-info">
                            <p class="analytics-box-author">{{ article.author }}</p>
                            <p class="analytics-box-time">{{ article.created }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="pages-carousel">
        <div class="pages-carousel-button" id="prev">

            <div class="pages-carousel-top"></div>
            <button>Предыдущая</button>
            <div class="pages-carousel-bottom"></div>

        </div>
        <div class="pages-carousel-pages">
            <span class="pages-carousel-active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
        <div class="pages-carousel-button " id="next">
            <div class="pages-carousel-top"></div>
            <button>Следующая</button>
            <div class="pages-carousel-bottom"></div>
        </div>
    </section>
    {% else %}
    {{ blank }}
    {% endif %}
{% endblock content %}