{% extends 'base.html' %}
{% block content %}
{% for article in data_art %}
<div class="container-detail">

    <section class="article-detail">
        <div class="article-detail-top">
            <div class="article-detail-top-left_side">
                <h1 class="article-detail-title">{{ article.title }}</h1>
                <span class="article-detail-author">{{ article.category }}</span> <span class="article-detail-date">12 сентября 2023</span>
                <p class="article-detail-short-text"></p>
            </div>
        <img src="../../static/img/article-detail/vgrom.com_1453714360_3.jpg" alt="" class="article-detail-publication-image">
        <h2 class="article-detail-paragraph-title">{{ article.content }}</h2>
        <p class="article-detail-paragraph"></p>
        <img src="../../static/img/article-detail/1028d97df8a620ec152579780b10e407.jpg" alt="" class="article-detail-publication-image">
        <h2 class="article-detail-paragraph-title">Заголовок параграфа</h2>
        <p class="article-detail-paragraph"></p>
        <h2 class="article-detail-readmore">Читайте также: </h2>
        <ul class="article-detail-readmore_list">
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
        </ul>
    </section>

</div>
{% endfor %}
{% endblock content %}
