{% extends 'base.html' %}
{% block content %}
<div class="container-detail">
    <section class="article-detail">
        <div class="article-detail-top">
            <div class="article-detail-top-left_side">
                <h1 class="article-detail-title">{{ data_art.title }}</h1>
                <span class="article-detail-author">{{ data_art.category }}</span> <span class="article-detail-date">12 сентября 2023</span>
                <p class="article-detail-short-text"></p>
            </div>
        <h2 class="article-detail-paragraph-title">{{ data_art.content }}</h2>
        <p class="article-detail-paragraph"></p>
        <h2 class="article-detail-paragraph-title">Заголовок параграфа</h2>
        <p class="article-detail-paragraph"></p>
        <h2 class="article-detail-readmore">Читайте также: </h2>
        <ul class="article-detail-readmore_list">
            <li><a href="#"> </a></li>
        </ul>
    </section>
</div>
{% endblock content %}
