<section class="article_by_cat" id="article_by_cat">

    <img src="../../static/img/article-categ/936003569.jpg" alt="" class="article_by_cat-image">
    <div class="article_categ-box">
        <img src="../../static/img/article-categ/5763e26658000.jpg" alt="" class="article_categ-image">
        <h2 class="article_categ-title">Рубрика</h2>
        <p class="article_categ-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="article_categ-box">
        <img src="../../static/img/article-categ/5763e26658000.jpg" alt="" class="article_categ-image">
        <h2 class="article_categ-title">Рубрика</h2>
        <p class="article_categ-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="article_categ-box">
        <img src="../../static/img/article-categ/5763e26658000.jpg" alt="" class="article_categ-image">
        <h2 class="article_categ-title">Рубрика</h2>
        <p class="article_categ-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>

</section>