{% extends 'base.html' %}
{% block content %}
<h2 class="article-cat-title">Аналитика</h2>
<section class="article_categ" id="article_categ-anchor">
    {% for article in data_art %}
    <div class="article_categ-box">
        <img src="../../static/img/article-categ/5763e26658000.jpg" alt="" class="article_categ-image">
        <a href="{% url 'article_detail' slug=article.slug %}">        
            <h2 class="article_categ-title">{{ article.title }}</h2>
        </a>
        <p class="article_categ-text">{{ article.category }}</p>
    </div>
    {% endfor %}
</section>
{% endblock content %}