{% extends 'base.html' %}
{% block content %}
<h2 class="article-cat-title">Аналитика</h2>
<section class="article_categ" id="article_categ-anchor">
    {% for article in data_art %}
    <div class="article_categ-box">
        <img src="{{ article.thubmnail.url }}" alt="" class="article_categ-image">
        <a href="{% url 'article_detail' slug=article.slug %}">        
            <h2 class="article_categ-title">{{ article.title }}</h2>
        </a>
        <p class="article_categ-text">{{ article.category }}</p>
    </div>
    {% endfor %}
</section>
<section class="newsletter no-padding-top">    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Подпишись на рассылку</h2>
        </div>
        <div class="col-md-8">
          <div class="form-holder">
            <form action="." method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="email" name="email" id="email" placeholder="Email адрес">
                <button type="submit" class="submit">Подписаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}