# Python.
venv/
__pycache__/


# Emacs.
*~
\#*\#
.\#*

# Mac.
.DS_Store

# IDE
.idea
.vscode

# caches
pycache

# collectstatic files
/static/admin

# migration files
/**/migrations/*.py

# temp storage (reports etc.)
/temp

# static cashe
static/css/.sass-cache/
static/css/*.*.map