{% extends 'base.html' %}
{% block content %}
<div class="page_title-box">
    <div class="page_title-top_line">
    </div>
    <div class="page_title-title">
        <h1>Опросы</h1>
    </div>
    <div class="page_title-bottom_line">
    </div>
</div>
    <div class="poll-container">
        <div class="poll-wrapper">
            <div class="poll-box">
                <a href="">
                    <img src="https://images.unsplash.com/photo-1591794289635-13a402187d9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img">
                    <div class="title">
                        <span>заголовок опроса</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}