{% extends 'base.html' %}
{% block content %}
<div class="page_title-box">
    <div class="page_title-top_line">
    </div>
    <div class="page_title-title">
        <h1>Опросы</h1>
    </div>
    <div class="page_title-bottom_line">
    </div>
</div>
    <div class="poll-container">
        <div class="poll-wrapper">
            <div class="poll-box">
                <a href="">
                    <img src="{% url %}" alt="" class="img">
                    <div class="title">
                        <span>заголовок опроса</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}