{% extends 'base.html' %}
{% block content %}
<div class="poll-container">
        <div class="poll_detail">
            <div class="title">
                <b>
                    {{ poll.title }}
                </b>
                Опрос читателей "KHBR"
            </div>
            <div class="date">
                {{ poll.created|date:"d M Y" }}
            </div>
            <img src="{{ poll.image.url }}" alt="" class="img">
            <div class="content">
                {{ poll.content|safe }}
            </div>
            <form class="poll-form" id="poll-form">
                <div class="poll-form_title">
                    {{ poll.question|safe }}
                </div>
                <div class="poll-form_options">
                    {% for answer in answers %}
                        <div class="option">
                            <input type="checkbox" class="poll-checkbox" name="" id="{{ answer.id }}">
                            <label for="{{ answer.id }}">
                                {{ answer.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="submit">
                    <input type="submit" id="poll_result_button" value="Посмотреть результаты">
                </div>
            </form>
            <div class="poll-results" style="display: none" id="poll-results">
                <div class="poll-results_title">
                    Что вы планируете сделать, но обычно откладываете на потом?
                </div>
                <div class="poll-result-options">
                    <div class="option">
                        <div class="heading">
                            <div>Начать рисовать</div>
                            <div class="poll_result_percent">12%</div>
                        </div>
                        <div class="line">
                            <div class="bg">

                            </div>
                            <div class="poll_result_statusBar"></div>
                        </div>
                    </div>                 
                </div>
                <div class="statistics">
                    В опросе приняло участие: {{ poll.counter_votes }} человек
                </div>
            </div>
        </div>
    </div>
{% endblock content %}