{% extends 'base.html' %}
{% block content %}
<div class="poll-container">
        <div class="poll_detail">
            <div class="title">
                <b>
                    {{ poll.title }}
                </b>
                Опрос читателей "KHBR"
            </div>
            <div class="date">
                {{ poll.created|date:"d M Y" }}
            </div>
            <img src="{{ poll.image.url }}" alt="" class="img">
            <div class="content">
                {{ poll.content|safe }}
            </div>
            {% if user.is_authenticated %}
                {% if not user_took_part %}
                {% if error_message %}
                    <p>
                        <strong>
                            {{ error_message }}
                        </strong>
                    </p>
                {% endif %}
                    <form class="poll-form" id="poll-form" action="{% url 'poll_detail' slug=slug %}" method="post">
                        {% csrf_token %}
                        <div class="poll-form_title">
                            {{ poll.question|safe }}
                        </div>
                        <div class="poll-form_options">
                            {% for choice in poll.answer_set.all %}
                                <div class="option">
                                    <input type="radio" class="poll-checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                                    <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br />
                                </div>
                            {% endfor %}
                        </div>
                        <div class="submit">
                            <button type="submit" id="poll_result_button" value="Посмотреть результаты">Посмотреть результаты</button>
                        </div>
                    </form>
                {% else %}
                    <div class="poll-results" id="poll-results">
                        <div class="poll-results_title">
                            {{ poll.question|safe }}
                        </div>
                        <div class="poll-result-options">
                            <div class="option">
                                {% for answer in answers %}
                                    <div class="heading">
                                        <div>
                                            {{ answer.text }}
                                        </div>
                                        <div class="poll_result_percent">
                                            {{ answer.percents }}
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="bg">
                                        </div>
                                        <div class="poll_result_statusBar"></div>
                                    </div>
                                    <p>Вы уже прошли этот опрос</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="statistics">
                            В опросе приняло участие: {{ poll.counter_votes }} человек
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="poll-results"  id="poll-results">
                    <div class="poll-results_title">
                        {{ poll.question|safe }}
                    </div>
                    <div class="poll-result-options">
                        <div class="option">
                            {% for answer in answers %}
                                <div class="heading">
                                    <div>
                                        {{ answer.text }}
                                    </div>
                                    <div class="poll_result_percent">
                                        {{ answer.percents }}
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="bg">
                                    </div>
                                    <div class="poll_result_statusBar"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="statistics">
                        В опросе приняло участие: {{ poll.counter_votes }} человек
                    </div>
                </div>
                <p class="auth_error">Авторизируйтесь для участия -
                     <a href="{% url 'signin' %}">
                         Вход
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}