{% extends 'base.html' %}
{% block content %}
<div class="cat-title-topline"></div>
<h2 class="cat-title">Рейтинги</h2>
<div class="cat-title-botline"></div>
<section class="rating-list" id="rating-list">
    {% for raiting in list_rait %}
    <div class="rating-box">
      <div class="rating-box-left-line"></div>
      <div class="rating-box-column">
        <div class="rating-box-top-line"></div>
        <div class="rating-box-content">
          <a href="{% url 'raiting_detail' slug=raiting.slug %}"> 
            <span class="rating-box-title">{{ raiting.title }}</span>
          </a>
            <p class="rating-box-text">{{ raiting.content|truncatechars:130}}</p>
            <a class="rating-box-title-href" href="{% url 'raiting_detail' slug=raiting.slug %}">Читать далее</a>
        </div>
        <div class="rating-box-bottom-line"></div>
      </div>
      <div class="rating-box-right-line"></div>
    </div>
    {% endfor %}
</section>
{% endblock content %}