{% extends 'base.html' %}
{% block content %}
<div class="rating-cat-title-topline"></div>
<h2 class="rating-cat-title">Рейтинги</h2>
<div class="rating-cat-title-botline"></div>
<section class="rating-list" id="rating-list">
    {% for raiting in list_rait %}
    <div class="rating-box">
        <div class="rating-box-left-side">
            <span class="rating-box-author">{{ raiting.author }}</span>
            <span class="rating-box-date">{{ raiting.created }}</span>
            <a href="#" class="rating-box-main_link">
                <a href="{% url 'raiting_detail' id=raiting.id %}">
                    <h1 class="rating-box-title">{{ raiting.title }}</h1>
                </a>
                <p class="rating-box-text">{{ raiting.content|truncatechars:200}}</p>
            </a>
        </div>
        <div class="rating-box-right-side">
            <img src="../../static/img/1494104729_apswyqzjlju.jpg" alt="">
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}















