<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header" id="header-anchor">
        <img src="../../static/img/logotype-khbr.jpg" alt="">
    </div>
    <div class="search__menu">
        <a href=""> <i class="fa fa-search search__icon" aria-hidden="true"></i> </a>

        <input type="search">
    </div>
    <div class="heading">
        <a href="#" class="heading-links">Аналитика</a>
        <a href="#" class="heading-links">Рейтинги</a>
        <a href="#" class="heading-links">События</a>
        <a href="#" class="heading-links">Видео</a>
        <a href="#" class="heading-links">Рубрика</a>
    </div>

    <section class="rating-list" id="rating-list">
        <div class="rating-box">
            <div class="rating-box-left-side">
            <span class="rating-box-author">Максим Серпухов</span>
            <span class="rating-box-date">, 23 февраля 2139</span>
            <a href="#" class="rating-box-main_link">
            <h1 class="rating-box-title">Куда поступать, чтобы не допустить ошибку? Рынок IT.
                Информация</h1>
                <p class="rating-box-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut dignissimos earum, itaque necessitatibus odio quasi quia quis ullam vel. Officia, perspiciatis.</p>
            </a>
            </div>
            <div class="rating-box-right-side">
                <img src="../../static/img/1494104729_apswyqzjlju.jpg" alt="">
            </div>
        </div>
        <div class="rating-box">
            <div class="rating-box-left-side">
                <span class="rating-box-author">Максим Серпухов</span>
                <span class="rating-box-date">, 23 февраля 2139</span>
                <a href="#" class="rating-box-main_link">
                    <h1 class="rating-box-title">Куда поступать, чтобы не допустить ошибку? Рынок IT.
                        Информация</h1>
                    <p class="rating-box-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut dignissimos earum, itaque necessitatibus odio quasi quia quis ullam vel. Officia, perspiciatis.</p>
                </a>
            </div>
            <div class="rating-box-right-side">
                <img src="../../static/img/derch-1226086-unsplash.jpg" alt="">
            </div>
        </div>
    </section>



















    <footer class="footer" id="footer-anchor">
        <div class="left-side-footer">
            <ul>
                <li>Рубрика</li>
                <li><a href="">number1</a></li>
                <li><a href="">number2</a></li>
                <li><a href="">number3</a></li>
                <li><a href="">number4</a></li>
            </ul>
        </div>
        <div class="central-side-footer">
            <img src="../../static/img/logotype-footer.png" alt="">
            <i class="fa fa-book" aria-hidden="true"></i>
            <h2 class="footer-title">KHBR News</h2>
            <input type="email" class="footer-email" placeholder="E-mail">
            <button class="footer-submit">Подписаться</button>
        </div>
        <div class="right-side-footer">
            <ul>
                <li>Рубрика</li>
                <li><a href="">number1</a></li>
                <li><a href="">number2</a></li>
                <li><a href="">number3</a></li>
                <li><a href="">number4</a></li>
            </ul>
        </div>
    </footer>
</div>

</body>
</html>