.index-banner-style {
  background-image: url(../../img/index-banner-bgi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  .index-banner-textBox {
    background-color: rgba(1,1,1,.5);
    width: 100%;
    padding: 3.8vh 0;
    text-align: center;
    color:#fff;
    font-size: 5em;
  }
}