@import "index-banner";
@import "index-posts";
@import "index-follow";
@import "index-lists";
@import "index-video";

.index-heading-link {
  color:#5e6762;
  text-decoration: none;
  text-align: center;
}