.index-lists-style {
  padding: 5vh 0;
  .index-lists-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .index-list-box {
      max-width: 350px;
      .index-list-title {
        font-size: 2.2em;
      }
      .index-list {
        .index-list-item {
          list-style-type: decimal;
        }
        .index-list-item-link {
          text-decoration: none;
          color: #303738;
          font-size: 1.6em;
          &:hover {
            color: #63808b;
            transition: .4s;
          }
          &:focus {
            color: #8b5d65;
          }
        }
      }
    }
  }
}
.index-action-style {
  display: flex;
  padding: 5vh 0;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  .index-action-content {
    font-size: 3.5em;
  }
  .index-action-link {
    color:#303738;
    text-decoration: none;
  }
}