@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .event-wrapper {
    .event-post-box {
      .event-post-content {
        .event-post-content-info {
          margin: 2vh 0;
          flex-flow: column wrap;
          align-items: flex-start;
          p {
            margin: 0.5vh 0;
          }
        }
      }
    }
  }
}

