<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>

    <div class="container-authors">
        <div class="author-info">
            <div class="left">
                <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
            </div>
            <div class="right">
                <div class="name">
                    Имя и Фамилия автора статьи
                </div>
                <div class="contact">
                    <p>author@gmail.com</p>
                    <p>380 50 91 444 28</p>
                    <p>Размещение аналитики</p>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa earum eius excepturi expedita magni, minus quo. A ad aut, excepturi itaque mollitia obcaecati odit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa earum eius excepturi expedita magni, minus quo. A ad aut, excepturi itaque mollitia obcaecati odit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa earum eius excepturi expedita magni, minus quo. A ad aut, excepturi itaque mollitia obcaecati odit<!doctype html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                            <title>Document</title>
                        </head>
                        <body>

                        </body>
                        </html></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>