<div class="page_title-box">
    <div class="page_title-top_line">
    </div>
    <div class="page_title-title">
        <h1>Автора</h1>
    </div>
    <div class="page_title-bottom_line">
    </div>
</div>
    <div class="container">
        <div class="authors">
            <div class="author">
                <a href="">
                    <div class="top">
                        <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                    </div>
                    <div class="middle">
                        Валерий Семенович Глаголин
                    </div>
                    <div class="bottom">
                        vsg@gmail.com
                    </div>
                </a>
            </div>
            <div class="author">
                <a href="">
                    <div class="top">
                        <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                    </div>
                    <div class="middle">
                        Валерий Семенович Глаголин
                    </div>
                    <div class="bottom">
                        vsg@gmail.com
                    </div>
                </a>
            </div>
            <div class="author">
                <a href="">
                    <div class="top">
                        <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                    </div>
                    <div class="middle">
                        Валерий Семенович Глаголин
                    </div>
                    <div class="bottom">
                        vsg@gmail.com
                    </div>
                </a>
            </div>
            <div class="author">
                <a href="">
                    <div class="top">
                        <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                    </div>
                    <div class="middle">
                        Валерий Семенович Глаголин
                    </div>
                    <div class="bottom">
                        vsg@gmail.com
                    </div>
                </a>
            </div>
            <div class="author">
                <a href="">
                    <div class="top">
                        <img src="//images.unsplash.com/photo-1592190356671-304f26555907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                    </div>
                    <div class="middle">
                        Валерий Семенович Глаголин
                    </div>
                    <div class="bottom">
                        vsg@gmail.com
                    </div>
                </a>
            </div>
        </div>
    </div>
