@import "technical/technical";
@import "header/header";

@import "index-page/index-page";
@import "index-analytics/index-analytics";
@import "index-detail/index-detail";
@import "index-events/index-events";
@import "events-detail/events-detail";
@import "ratings-index/ratings-index";
@import "ratings-detail/ratings-detail";
@import "video-index/video-index";
@import "user/user";
@import "poll/poll";
@import "search/search";
@import "category/category";
@import "authors/authors";
@import "user_cabinet/user_cabinet";
@import "footer/footer";

.nothing-found {
  text-align: center;
  font-size: 2rem;
  color:black;
  font-weight: 500;
  margin: 60px 0;
}
