@import "media/header/header-media";
@import "media/index-page/index-banner";
@import "media/index-page/index-posts";
@import "media/index-page/index-follow";
@import "media/media-technical";
@import "media/event-index/event-index";

@import "footer/footer";