.video-wrapper {
  margin: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  .video-index-box {
    width: 100%;
    margin: 16px 24px;
    max-width: 425px;
    iframe{
      max-height:275px;
    }
    .video-index-box-title {
      text-align: center;
      a {
        font-size: 2rem;
        color: #303738;
        text-decoration: none;

        &:hover {
          transition: .4s;
          color: #7A7A7A;
        }

        &:focus {
          color: #8b5d65;
        }
      }
    }

    .video-index-box-description {
      font-size: 1.2rem;
      color: #303738;
      text-decoration: none;

      &:hover {
        transition: .4s;
        color: #7A7A7A;
      }

      &:focus {
        color: #8b5d65;
      }
    }
  }
}
