{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="error">
	<div class="page_title-box">
		<div class="page_title-top_line">
		</div>
		<div class="page_title-title error-title">
			<h1>
				403
			</h1>
		</div>
		<div class="page_title-bottom_line">
		</div>
	</div>
	<div class="error_description">
		Доступ запрещен
	</div>
	<div class="error-image">
		<img src="{% static 'img/error.png' %}" alt="Error 403">
	</div>
	<div class="return-back-error">
		<i class="fa fa-chevron-left"></i>
		<a href="{% url 'analytics' %}">
			Вернуться назад
		</a>
	</div>
</div>
{% endblock content %}