{% extends 'base.html' %}
{% block content %}
{% if article_list or event_list or raiting_list or video_list %}
    <section class="search-index">
        <div class="container">
            {% if article_list %}
                <div class="search-result">
                    <div class="date"> 
                        Аналитика                 
                    </div>
                    {% for article in article_list %}
                        <a href="{% url 'article_detail' slug=article.slug %}"> 
                            <div class="result">
                                {% if article.image %}
                                    <div class="img">
                                        <img src="{{ article.image.url }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="content">
                                    {% if article.category %}
                                    <div class="category">
                                        {{ article.category }}
                                    </div>
                                    {% endif %}
                                    <div class="title">
                                        {{ article.title }}
                                    </div>
                                    <div class="description">
                                        {{ article.short_description|safe }}
                                    </div>
                                    <div class="content-bottom">
                                        <div class="post_date">
                                            {{ article.created }}
                                        </div>
                                        <div class="author">
                                            <i class="fa fa-user-o"></i>
                                            {{ article.author }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if event_list %}
                <div class="search-result">
                    <div class="date"> 
                        События                 
                    </div>
                    {% for event in event_list %}
                        <a href="{% url 'event_detail' slug=event.slug %}"> 
                            <div class="result">
                                {% if event.image %}
                                    <div class="img">
                                        <img src="{{ event.image.url }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <div class="title">
                                        {{ event.title }}
                                    </div>
                                    <div class="description">
                                        {{ event.short_description|safe }}
                                    </div>
                                    <div class="content-bottom">
                                        <div class="post_date">
                                            {{ event.created }}
                                        </div>
                                        <div class="author">
                                            <i class="fa fa-user-o"></i>
                                            {{ event.author }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if raiting_list %}
                <div class="search-result">
                    <div class="date"> 
                        Рейтинги                 
                    </div>
                    {% for raiting in raiting_list %}
                        <a href="{% url 'raiting_detail' slug=raiting.slug %}"> 
                            <div class="result">
                                {% if raiting.image %}
                                    <div class="img">
                                        <img src="{{ raiting.image.url }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <div class="title">
                                        {{ raiting.title }}
                                    </div>
                                    <div class="description">
                                        {{ raiting.short_description|safe }}
                                    </div>
                                    <div class="content-bottom">
                                        <div class="post_date">
                                            {{ raiting.created }}
                                        </div>
                                        <div class="author">
                                            <i class="fa fa-user-o"></i>
                                            {{ raiting.author }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if video_list %}
                <div class="search-result">
                    <div class="date"> 
                        Видеообзоры                 
                    </div>
                    {% for video in video_list %}
                            <div class="result">
                                <div class="content">
                                    <div class="title">
                                        {{ video.title }}
                                    </div>
                                    {% if video.notes %}
                                    <div class="description">
                                        {{ video.notes|safe }}
                                    </div>
                                    {% endif %}
                                    <div class="content-bottom">
                                        <div class="post_date">
                                            {{ video.created }}
                                        </div>
                                        <div class="author">
                                            <i class="fa fa-user-o"></i>
                                            {{ video.author }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% else %}
    <div class="search-nothing-result">
        <div class="title">
            ничего не найдено
        </div>
       <div class="subtitle">
            Попробуйте как-нибудь по-другому
       </div>
    </div>
{% endif %}
{% endblock content %}