{% extends 'base.html' %}
{% block content %}
{% if article_list or event_list or raiting_list %}
<section class="search-index">
    <div class="container">
        <div class="search-result">
            <div class="date">
                {% if article_list %} Аналитика {% endif %}
                {% if event_list %} События {% endif %} 
                {% if raiting_list %} Рейтинги {% endif %}
            </div>
            <a href=""> 
                <div class="result">
                    <div class="img">
                        <img src="https://images.unsplash.com/photo-1591981387363-ae7d4375b353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                    <div class="content">
                        <div class="category">
                            история
                        </div>
                        <div class="title">
                        </div>
                        <div class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, impedit.
                        </div>
                        <div class="content-bottom">
                            <div class="post_date">
                                месяц назад
                            </div>
                            <div class="author">
                                <i class="fa fa-user-o"></i>
                                Максим
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endif %}
<div class="search-nothing-result" style="display: none;">
    <div class="title">
        ничего не найдено
    </div>
   <div class="subtitle">
           Попробуйте как-нибудь по-другому
   </div>
</div>
{% endblock content %}