.footer-style {
  padding: 5vh 2vw;
  background-color: #f3f4f2;
  .footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .footer-list {
      .footer-list-item {
        list-style-type: none;
        margin: 0.7vh 0;
        .fa-facebook {
          color:#3b5998;
        }
        .fa-linkedin-square {
          color:#3b5998;
        }
        .footer-link {
          text-decoration: none;
          color:#303738;
          font-size: 1.5em;
          &:hover {
            color: #63808b;
            transition: .4s;
          }
          &:focus {
            color:#8b5d65;
          }
        }
      }
    }
    .footer-logo {
      .footer-logo-link {
        img {
          width: 315px;

        }
      }
    }
  }
}