<footer class="footer" id="footer-anchor">
  <div class="footer-categories">
    <a href="{% url 'analytics' %}">Аналитика</a>
    <a href="{% url 'events' %}">События</a>
    <a href="{% url 'raitings' %}">Рейтинги</a>
    <a href="{% url 'videooverview' %}">Видео</a>
  </div>
  <div class="footer-logo">
    <img src="../static/img/logo.png" alt="">
  </div>
  <div class="footer-contacts">
    <div>Мы в соцсетях:</div>
    <div class="footer-contacts-socials">
    </div>
    <div>Обратная связь</div>
    <div>Контакты</div>
  </div>
</footer>
