<footer class="footer" id="footer-anchor">
    <div class="left-side-footer">
        <ul>
            <li>Рубрика</li>
            <li><a href="">number1</a></li>
            <li><a href="">number2</a></li>
            <li><a href="">number3</a></li>
            <li><a href="">number4</a></li>
        </ul>
    </div>
    <div class="central-side-footer">
        <img src="../static/img/logotype-footer.png" alt="">
        <input type="email" class="footer-email" placeholder="E-mail">
        <button class="footer-submit">Подписаться</button>
    </div>
    <div class="right-side-footer">
        <ul>
            <li>Рубрика</li>
            <li><a href="">number1</a></li>
            <li><a href="">number2</a></li>
            <li><a href="">number3</a></li>
            <li><a href="">number4</a></li>
        </ul>
    </div>
</footer>
