{% load staticfiles %}
<div class="container">

<header class="header-style" id="header-anchor">
       <div class="header-logo">
           <a href="{% url 'analytics' %}">
               <img src="{% static 'img/logo.png' %}" class="wow fadeIn"alt="">
           </a>
       </div>
       <div class="header-navigation">
           <a href="{% url 'analytics' %}" class="header-navigation-item wow fadeIn">Аналитика</a>
           <a href="{% url 'events' %}" class="header-navigation-item wow fadeIn">События</a>
           <a href="{% url 'raitings' %}" class="header-navigation-item wow fadeIn">Рейтинги</a>
           <a href="{% url 'videooverviews' %}" class="header-navigation-item wow fadeIn">Видео</a>
           <a href="{% url 'signin' %}" class="header-navigation-item header-navigation-sign wow fadeIn">
               <i class="fa fa-user-circle" aria-hidden="true"></i>
           </a>
       </div>
</header>
</div>

<!--<div class="search__menu">
    <a href=""> <i class="fa fa-search search__icon" aria-hidden="true"></i> </a>
    <input type="search">
</div>-->