<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <header class="header" id="header-anchor">
        <img src="../static/img/logotype-khbr.jpg" alt="">
    </header>
    <div class="search__menu">
        <a href=""> <i class="fa fa-search search__icon" aria-hidden="true"></i> </a>

        <input type="search">
    </div>
        <div class="heading">
            <a href="#" class="heading-links">Аналитика</a>
            <a href="#" class="heading-links">Рейтинги</a>
            <a href="#" class="heading-links">События</a>
            <a href="#" class="heading-links">Видео</a>
            <a href="#" class="heading-links">Рубрика</a>
        </div>

    </div>
