<div class="container">
    <header class="header" id="header-anchor">
        <img src="../static/img/logotype-khbr.jpg" alt="">
    </header>
    <!--<div class="search__menu">
        <a href=""> <i class="fa fa-search search__icon" aria-hidden="true"></i> </a>
        <input type="search">
    </div>-->
    <div class="heading">
        <a href="#" class="heading-links">Аналитика</a>
        <a href="#" class="heading-links">Рейтинги</a>
        <a href="#" class="heading-links">События</a>
        <a href="#" class="heading-links">Видео</a>
    </div>
</div>

<!--все убрать в тег хедер-->
