<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/media.css">
    <title>Document</title>
</head>
<body>

<div class="user_cabinet_wrapper">
    <div class="container ">
        <div class="user_header">
            <div class="logo">
                <a href="">
                    <img src="../../static/img/logo.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="">Вернуться на сайт</a></li>
                <li><a href="">Выйти</a></li>
            </ul>
        </div>
    </div>

    <div class="user_main">
        <div class="container">
            <div class="wrapper">
                <div class="profile">
                    <div class="img">
                        <img src="../../static/img/User_icon-cp.png" alt="">
                    </div>
                    <div class="info">
                        <div class="name">
                            Максим Серпухов
                        </div>
                        <div class="mail">
                            mserpuhov@gmail.com
                        </div>
                        <div class="role">
                            Администратор
                        </div>
                        <div class="last_signIn">
                            Дата последнего входа:
                            17.11.2020
                        </div>
                    </div>
                </div>
                <div class="popular-posts">
                    <div class="post">
                        <!--&lt;!&ndash;&ndash;&gt;                 <div class="left">-->
                        <!--                       <img src="//images.unsplash.com/photo-1592594040725-e24e9b71033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">-->
                        <!--                   </div>-->
                        <!---->
                        <div class="right">
                            <div class="title">
                                <a href="">Аналитика</a>
                                <p>|</p>
                                <a href="">Спорт</a>
                            </div>
                            <div class="description">
                                <a href="">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, culpa!
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="settings">
                    <ul>
                        <li>Личные данные</li>
                        <li>Смена пароля</li>
                        <li>Подписка</li>
<!--                        <li>Предложить новость</li>-->
                        <li>Связаться с нами</li>
                        <li>Удаление аккаунта</li>
                    </ul>
                </div>
            </div>

            <!-- modal form for change user personal data -->
            <div class="user_modal ">
                <div class="user_modal_header">
                    <p>
                        Личные данные
                    </p>
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <label for="personal_user_name">
                                Имя пользователя:
                            </label>
                            <input type="text" name="personal_user_name" id="personal_user_name">
                        </div>
                        <div class="">
                            <label for="personal_user_email">
                                E-mail пользователя:
                            </label>
                            <input type="text" name="personal_user_name" id="personal_user_email">
                        </div>
                        <div class="">
                            <input type="submit" value="Сохранить">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for change user personal data -->

            <!-- modal form for change user password -->
            <div class="user_modal">
                <div class="user_modal_header">
                    <p>
                        Смена пароля
                    </p>
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <label for="personal_user_password">
                                Введите новый пароль:
                            </label>
                            <input type="text" name="personal_user_password" id="personal_user_password">
                        </div>
                        <div class="">
                            <label for="personal_user_confirmationPassword">
                                Подтвердите новый пароль:
                            </label>
                            <input type="text" name="personal_user_confirmationPassword" id="personal_user_confirmationPassword">
                        </div>
                        <div class="">
                            <input type="submit" value="Подвердить">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for change user password -->

            <!-- modal form for subscribe -->
            <div class="user_modal ">
                <div class="user_modal_header">
                    <p>
                        Подписка
                    </p>
                </div>
                <div class="user_modal_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus dolor dolorum eius hic illo ipsum iste itaque officiis provident quia recusandae rerum, tenetur! Neque?
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <label for="personal_user_subscribe">
                                Введите Ваш e-mail:
                            </label>
                            <input type="text" name="personal_user_subscribe" id="personal_user_subscribe">
                        </div>
                        <div class="">
                            <input type="submit" value="Подписаться">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for subscribe -->

            <!-- modal form for cancel subscribe -->
            <div class="user_modal">
                <div class="user_modal_header">
                    <p>
                        Подписка
                    </p>
                </div>
                <div class="user_modal_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus dolor dolorum eius hic illo ipsum iste itaque officiis provident quia recusandae rerum, tenetur! Neque?
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <p class="text">
                                Вы уже подписаны на рассылку. Хотели бы отписаться?
                            </p>
                        </div>
                        <div class="" style="text-align: center">
                            <input type="submit" value="Отписаться">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for cancel subscribe -->

            <!-- modal form for contact us -->
            <div class="user_modal">
                <div class="user_modal_header">
                    <p>
                        Связь с нами
                    </p>
                </div>
                <div class="user_modal_description text-center">
                    Мы в соц.сетях:
                </div>
                <ul class="social-list">
                    <li>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <p class="text text-center">
                                Вы можете отправить нам свое сообщение и вскоре мы Вам ответим!
                            </p>
                        </div>
                        <div class="text-center">
                            <textarea name="" id="" cols="35" rows="10"></textarea>
                        </div>
                        <div class="" style="text-align: center">
                            <input type="submit" value="Отправить сообщение">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for contact us -->

            <!-- modal form for delete account -->
            <div class="user_modal">
                <div class="user_modal_header">
                    <p>
                        Удаление аккаунта
                    </p>
                </div>
                <div class="user_modal_description text-center">
                    Вы уверены, что хотите удалить аккаунт?
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <p class="text text-center">
                                Вы не сможете восстановить аккаунт, после его удаления
                            </p>
                        </div>
                        <div class="delete_acc" style="text-align: center">
                            <input type="submit" value="Удалить аккаунт">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for delete account -->

        </div>
    </div>
</div>


</body>
</html>