<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/media.css">
    <title>Document</title>
</head>
<body>

<div class="user_cabinet_wrapper">
    <div class="container ">
        <div class="user_header">
            <div class="logo">
                <a href="">
                    <img src="../../static/img/logo.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="">Вернуться на сайт</a></li>
                <li><a href="">Выйти</a></li>
            </ul>
        </div>
    </div>

    <div class="user_main">
        <div class="container">
           <div class="wrapper">
               <div class="profile">
                   <div class="img">
                       <img src="../../static/img/User_icon-cp.png" alt="">
                   </div>
                   <div class="info">
                       <div class="name">
                           Максим Серпухов
                       </div>
                       <div class="mail">
                           mserpuhov@gmail.com
                       </div>
                       <div class="role">
                           Администратор
                       </div>
                       <div class="last_signIn">
                           Дата последнего входа:
                           17.11.2020
                       </div>
                   </div>
               </div>
               <div class="popular-posts">
                   <div class="post">
<!--&lt;!&ndash;&ndash;&gt;                 <div class="left">-->
<!--                       <img src="//images.unsplash.com/photo-1592594040725-e24e9b71033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">-->
<!--                   </div>-->
<!---->                 <div class="right">
                       <div class="title">
                           <a href="">Аналитика</a>
                           <p>|</p>
                           <a href="">Спорт</a>
                       </div>
                       <div class="description">
                           <a href="">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, culpa!
                           </a>
                       </div>

                   </div>
                        </div>
               </div>
               <div class="settings">
                    <ul>
                        <li>Личные данные</li>
                        <li>Смена пароля</li>
                        <li>Подписка</li>
                        <li>Предложить новость</li>
                        <li>Связаться с нами</li>
                        <li>Удаление аккаунта</li>
                    </ul>
               </div>
           </div>

            <!-- modal form for change user personal data -->

            <div class="user_modal_settings active">
                <div class="user_modal_header">
                    <p>
                        Личные данные
                    </p>
                </div>
                <div class="user_modal_form">
                    <form action="">
                        <div class="">
                            <label for="personal_user_name">
                                Имя пользователя:
                            </label>
                            <input type="text" name="personal_user_name" id="personal_user_name">
                        </div>
                        <div class="">
                            <label for="personal_user_email">
                                E-mail пользователя:
                            </label>
                            <input type="text" name="personal_user_name" id="personal_user_email">
                        </div>
                        <div class="">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
            <!-- modal form for change user personal data -->
        </div>
    </div>
</div>
</body>
</html>