{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<div class="page_title-box">
    <div class="page_title-top_line">
    </div>
    <div class="page_title-title">
        <h1>Видео</h1>
    </div>
    <div class="page_title-bottom_line">
    </div>
</div>    
    {% if data_video %}
    <div class="container">
        <div class="video-wrapper">
            {% for video in data_video %}
            <div class="video-index-box">
                <div class="video-index-box-image">
                    <iframe width="100%" height="565px" src="{{ video.video }}"
                    frameborder="0" allow="accelerometer; autoplay;
                    encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>           
                </div>
                <div class="video-index-box-title">
                    <h2>
                        <a href="{{ video.url }}">
                            {{ video.title }}
                        </a>
                    </h2>
                </div>
                <div class="video-box-info">
                    <p class="video-box-author">
                        <i class="fa fa-user"></i>
                        {{ video.author }}
                    </p>
                    <p class="video-box-time">
                        <i class="fa fa-calendar"></i>
                        {{ video.created|date:"d M Y" }}
                    </p>
                </div>

                <div class="video-index-box-description">
                    <p>{{ video.notes|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    ниче не найдено
    {% endif %}
<!--    <section class="pages-carousel">-->
<!--        <div class="pages-carousel-button" id="prev">-->

<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Предыдущая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->

<!--        </div>-->
<!--        <div class="pages-carousel-pages">-->
<!--            <span class="pages-carousel-active">1</span>-->
<!--            <span>2</span>-->
<!--            <span>3</span>-->
<!--            <span>4</span>-->
<!--        </div>-->
<!--        <div class="pages-carousel-button " id="next">-->
<!--            <div class="pages-carousel-top"></div>-->
<!--            <button>Следующая</button>-->
<!--            <div class="pages-carousel-bottom"></div>-->
<!--        </div>-->
<!--    </section>-->
  {% endblock content %}