@media (min-width: 1200px) and (max-width:1400px){
  .analytics-box-info {
    max-width: 475px;
    width: 100%;
  }
  .analytics-box-category {

  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .analytics-wrapper {
    .analytics_post-box {
      .analytics-box-content {
        p {
          width: 315px;

        }
        .analytics-box-text {
          margin-left: 0;
        }
        flex-flow: wrap row;
      }
    }
  }
}

