{% extends 'base.html' %}
{% block content %}
<section class="authorization-page" id="authorization-page">
    <div class="authorization-input-place">
        <h1 class="authorization-type">Авторизация</h1>
        <form action="">
            <input type="email" placeholder="email@gmail.com" id="email"required >
            <input type="password" placeholder="Пароль" id="password" required>
            <button class="registration-btn">Авториироваться</button>
        </form>
    </div>
</section>
{% endblock content %}