<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<section class="authorization-page" id="authorization-page">
    <div class="authorization-input-place">
        <h1 class="authorization-type">Авторизация</h1>
        <form action="">
            <input type="email" placeholder="email@gmail.com" id="email"required >
            <input type="password" placeholder="Пароль" id="password" required>
            <button class="registration-btn">Авториироваться</button>
        </form>
    </div>

</section>





</body>
</html>