.header-style {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  padding: 2vh 0;
  justify-content: space-between;
  .header-logo {
    flex-grow: 0;
      img {
        width: 315px;
      }
  }
  .header-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .mobile-bar {
      font-size: 2rem;
    }
  }
  .header-search {
    .search-wrapper {
      border: solid 2px #16690d;
      input {
        border: none;
        outline: none;
        padding: 12px 18px;
        &:focus::placeholder {
          opacity: 0;
        }
      }
      input[type='search']::-webkit-search-decoration,
      input[type='search']::-webkit-search-cancel-button,
      input[type='search']::-webkit-search-results-button,
      input[type='search']::-webkit-search-results-decoration {
        display: none;
      }
      i {
        padding-right: 8px;
        color:#36488f;
        font-size: 18px;
      }
    }
  }
}
.header-navigation {
  position: relative;
  text-align: center;
  flex-grow: 1;
  margin-left: 24px;
  display: flex;
  list-style-type: none;
  font-size: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  .fa-angle-down {
    position: relative;
    top: 3px;
  }
  li {
    position: relative;
    padding: 6px 22px;
    box-sizing: border-box;
    margin: 0 16px;
  }
  .header-navigation-submenu {
    transition: .2s linear;
    position: absolute;
    opacity: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    right: 0;
    top: 100%;
    visibility: hidden;
    li {
      background-color: #e8e8da;
      border-bottom: solid 1px #7A7A7A;
      transition: .2s linear;

      &:hover {
        background-color: #b7b7ab;
        transition: .2s linear;
      }
      &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &:last-of-type {
        border-bottom: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  .submenu-item:hover  {
    .header-navigation-submenu{
      opacity: 1;
      transition: .2s linear;
      visibility: visible;
    }
  }
  a {
    text-decoration: none;
    color:#303738;
    &:hover {
      color: #63808b;
      transition: .4s;
    }
    &:focus {
      color:#8b5d65;
    }
  }
  .header-navigation-sign {
    float: right;
  }
}
.mobile-bar {
  display: none;
}