{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
    <div class="sign-container">
        <div class="sign-window">
            <div class="sign-window-title"><h2>Восстановление пароля</h2></div>
              <div class="sign-window-google">
                <a href="#"><span>Вход с помощью Google</span><img src="{% static 'img/Google.svg.webp' %}" alt=""></a>
            </div>
            <div class="sign-window-form">
                <form action="" method="post">
                    <p>Введите Вашу эл. почту:</p>
                    <input type="text" name="user_email" class="sign-window-input" placeholder="Ваш  e-mail: ">
                    <button class="sign-window-next" type="submit">Далее</button>
                </form>
            </div>
            <div class="sign-window-bottom">
                <a href="{% url 'signup' %}" class="createAccount">Создайте аккаунт</a>
            </div>
        </div>
    </div>
{% endblock content %}