{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="sign-container" style="background-image: url(../../static/img/index-banner-bgi.png); " id="sign-container-id">
    <div class="sign-window">
        <div class="sign-window-title"><h2>Авторизация</h2></div>
          <div class="sign-window-google">
            <a href="#"><span>Вход с помощью Google</span><img src="{% static 'img/Google.webp' %}" alt=""></a>
        </div>
        <div class="sign-window-form">
            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <p>Введите Ваш логин:</p>
                {% render_field form.username name="user_login" class="sign-window-input" placeholder="Логин" %}
                <p>Введите Ваш пароль:</p>
                {% render_field form.password name="user_login" class="sign-window-input" placeholder="Пароль" %}
                <button class="sign-window-next" type="submit">Войти</button>
            </form>
        </div>
        <div class="sign-window-return_password">
            <a href="#">Забыли пароль?</a>
        </div>
        <div class="sign-window-bottom">
            <a href="{% url 'signup' %}" class="createAccount">Создайте аккаунт</a>
            <a href="{% url 'analytics' %}" class="sign-window-next sign-window_haveAcc">
                <i class="fa fa-share" aria-hidden="true"></i>
                Вернуться на главную
            </a>
        </div>
    </div>
</div>
{% endblock content %}